<section class="posts">
  {{#each posts}}
    <div class="_post">
      <h1 class="_post-title">
        {{link-to title 'post' this}}
      </h1>

      <time class="_post-date" {{bind-attr datetime=createdAt}}>
        {{time-formatter createdAt 'MMMDo'}}
      </time>

      <div class="_post-meta">
        {{#with category}}
          属于：{{link-to name 'posts' (query-params category=urlName)}}
        {{/with}}
      </div>
    </div>
  {{else}}
    <h2>还没有文章哦～</h2>
  {{/each}}
</section>
